.footer {
      background-color: var(--bg-color);
      padding-block: 50px 40px;
      border-top: var(--border-bottom);
      border-bottom: var(--border-bottom);

      .image {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            img {
                  width: 70px;
            }
      }

      .boxs {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 20px;
            text-transform: capitalize;
            .box {
                  text-align: center;
                  color: var(--main-color);
                  h3 {
                        font-weight: 700;
                        font-size: 22px;
                        margin-bottom: 10px;
                  }

                  ul {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 20px;
                        margin-bottom: 10px;
                        li {
                              transition: var(--transition-3);
                              &:hover {
                                    transform: translateY(-5px);
                              }

                              img {
                                    width: 35px;
                              }
                        }
                  }

            }
      }
}

.copy-right {
      background-color: var(--bg-color);
      p {
            font-size: 18px;
            color: var(--main-color);
            text-align: center;
            padding: 15px ;
      }
}